/** @variables **/
:root {
  --yellow: #fdf733;
  --black: black;
  --gray: #ababab;
  --dark-gray: #676767;
  --background-hover: #fbfbfb;
}

html {
  overflow-y: auto;
}

/** @global styles **/
.c-btn.c-btn--primary,
.c-btn.is-selected {
  border-color: var(--black);
  background-color: white;
  color: var(--black);
}

.c-txt__input.is-hovered:not(.is-disabled):not([disabled]),
.c-txt__input:hover:not(.is-disabled):not([disabled]) {
  border-color: var(--dark-gray) !important;
}

.c-menu__item.is-focused,
.c-menu__item.is-hovered,
.c-menu__item:not(.c-menu__item--header):focus,
.c-menu__item:not(.c-menu__item--header):hover {
  background-color: var(--background-hover);
  text-decoration: none;
}

/*my styles*/
.search {
  display: flex;
  flex-direction: column;
}
.search-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.search-form__button,
.settings {
  align-self: flex-end;
}

.c-main .menu-container {
  margin-top: 5px;
}
.menu-container {
  will-change: transform;
  position: absolute;
}
.u-mb-lg {
  margin-bottom: 5px !important;
}

.c-menu__item {
  padding: 1px 32px;
}
.c-menu__item:before {
  height: 22px;
}

.c-callout {
  margin: 7px 0;
}

.hide-button {
  visibility: hidden;
}

/*------ SETTINGS ------*/

.settings {
  display: flex;
  justify-content: flex-end;
}
.settings__form {
  display: flex;
  flex-direction: column;
}
.settings__button {
  display: flex;
  justify-content: flex-end;
}
.c-btn-settings {
  flex-basis: 50%;
}
.c-btn-settings__left {
  text-align: left;
}
.c-btn-settings__right {
  text-align: right;
}
/*------ END SETTINGS ------*/

/*------ NAV BAR -----------*/
.c-tab__icon {
  width: 16px;
}
.c-tab__list {
  display: flex;
  margin-bottom: 10px;
}
.c-tab__list__item {
  padding: 0;
  margin: 0;
  width: 20%;
  display: inline-block;
  cursor: initial;
}
.c-tab__list__item a {
  margin: 0;
  padding: 5px 0px 7px;
}
/*------ END NAV BAR -----------*/

/*---- CONTACT INFORMATION ----*/
.c-content__title {
  font-size: 1.1em;
  font-weight: bold;
}
.c-content__p {
  line-height: 1.5;
  display: flex;
}

.c-section:hover {
  border-color: var(--black);
}

.c-section {
  margin-top: 0.75em;
  border: 1px solid var(--gray);
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s ease;
}

.c-section.green-border {
  border-color: var(--gray);
}
.c-line {
  width: auto;
  min-width: 20px;
  display: inline-block;
  position: relative;
  flex-grow: 1;
}
.c-line::before {
  content: "";
  width: 95%;
  height: 1px;
  position: absolute;
  left: 2.5%;
  top: 15px;
  border-radius: 5px;
  background-color: rgb(230 230 230);
}

/*---- END CONTACT INFORMATION ----*/

/*---- ORDERS ----*/
.l-grid {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.l-grid__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.l-grid__item .c-btn {
  min-width: 11em;
}
.date-from,
.date-to {
  max-width: 150px;
}

.orders_serarch_button {
  width: 150px;
  align-self: flex-end;
}

/*---- END ORDERS ----*/

/*---- TAKE ORDER ----*/
.take-order__message {
  margin-top: 15px;
}

/*---- END ORDERS ----*/
/*end my styles*/

/* .c-txt__input--select:not(select):before {
      height: 29px;
  } */

.c-company,
.c-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.025);
  padding: 5px;
  border-radius: 3px;
  position: relative;
  border: 1px solid white;
}

.c-order:hover {
  border: 1px solid var(--gray);
  transition: 0.2s ease;
}

.c-company__info,
.c-order__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-btn-view .c-icon {
  margin: 0;
}
.c-icon {
  width: 16px;
  min-width: 16px;
  margin: 0 10px;
  transform: scale(0.9);
}
.c-info {
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-btn {
  background-color: white;
  border: 1px solid var(--black);
  color: var(--var);
}

.c-btn:hover {
  background-color: var(--yellow) !important;
  border: 1px solid var(--black) !important;
  color: var(--var) !important;
}

.c-btn-select {
  visibility: hidden;
  padding: 9px;
  min-width: unset;
  line-height: unset;
}
.c-company:active .c-btn-select,
.c-company:focus .c-btn-select,
.c-company:hover .c-btn-select,
.c-order:active .c-btn-view,
.c-order:focus .c-btn-view,
.c-order:hover .c-btn-view {
  visibility: visible;
}

.c-btn:not(.inline-block) {
  display: block;
}
.c-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-btn-view {
  visibility: hidden;
  padding: 9px 3px;
  min-width: 24px;
  line-height: unset;
}

.c-pagination__page {
  min-width: 25px;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.c-pagination__page a {
  margin: 0;
  padding: 0;
}

.c-chk__label {
  font-weight: normal;
}
.c-btn-icon {
  width: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.c-back-icon {
  width: 16px;
  margin: 0 3px 0 0;
}

.c-tab__icon {
  width: 16px;
}

.c-tab__list {
  display: flex;
  margin-bottom: 10px;
}

.c-tab__list__item.is-active {
  color: var(--black) !important;
}

.c-tab__list__item:hover {
  color: var(--drak-gray);
}

.c-tab__list__item {
  padding: 0;
  margin: 0;
  width: 20%;
  display: inline-block;
  cursor: initial;
  color: var(--gray);
}

.c-tab__list__item a {
  margin: 0;
  padding: 5px 0px 7px;
}

.c-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-links-container .c-btn {
  margin-left: 0;
}
.c-btn-text-icon {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}

.c-separator {
  border-top: 1px solid rgba(31, 115, 183, 0.5);
  margin: 1em 0;
}
.c-btn-close {
  min-width: auto;
  padding: 5px 0;
}
.c-table__row__cell {
  padding: 5px;
  vertical-align: middle;
}

.c-table__row--header,
.c-table__row {
  height: auto;
}

.c-table__row:hover {
  background-color: var(--background-hover);
}

.c-table__row--header .c-table__row__cell:not(.c-table__row__cell--overflow) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.light-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*-----NEW USER FORM --------*/

.form-validation-error {
  font-size: 11px;
  color: red;
  font-style: italic;
}

.new-user-form__header {
  display: flex;
  justify-content: space-between;
}

/*---------------------------*/

/*- ORGANIZATION USERS LIST -*/

.organization-users-list {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.create-new-user__button {
  align-self: flex-end;
  margin-top: 10px;
}
/*---------------------------*/

/*------ NEW USER FORM ------*/

.new-user-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.new-user-form_inputs {
  margin-top: 10px;
}
/*---------------------------*/

/*------ NEW ORDER ------*/

.take-orders {
  display: flex;
  flex-direction: column;
}

.take-order__message {
  margin-bottom: 10px;
}

.org-main-container {
  width: 100%;
  overflow: hidden;
}

.c-btn--anchor {
  border: none !important;
  background-color: none !important;
}

.c-btn--anchor:hover {
  border: none !important;
  background-color: white !important;
}

.c-pill-right {
  float: right;
}

.c-pill-custom {
  background-color: var(--yellow);
  border: 1px solid black;
  color: black !important;
}

.b-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.b-row {
  display: flex;
  flex-wrap: wrap;
}

.b-col-50 {
  width: 50%;
}

.b-text-align_right {
  text-align: right;
}

.c-pagination {
  width: 100%;
}
